<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    </head>
    <body>
        <h1>Chicago 311 Reports</h1>
        <table border=1 cellpadding=7>
            <tr>
                <th>Inspection Type</th>
                <th>Date</th>
                <th>Address</th>
                <th>Address</th>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td><a href="{{ obj.inspection_number }}/">{{ obj.inspection_type }}</a></td>
                <td>{{ obj.modified_date }}</td>
                <td>{{ obj.address_address }}</td>
                <td>{{ obj.address }}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>